# Flutter
.dart_tool/
.packages
.pub/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

fastapi_project/core/firebase_credentials.json
fastapi_project/.env
mobile_flutter/.env
